titlesite {
    color: rgb(0, 255, 106);
    font-size: 60px;
    justify-content: center;
    display: flex;
    font-family: "Arial", sans-serif;
}

p {
    color: rgb(0, 255, 106);
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-family: "Arial", sans-serif;
    line-height: 0.5;
}

.title {
    line-height: 1.5;
    color: rgb(0, 255, 106);
    font-size: 40px;
    justify-content: center;
    display: flex;
    font-family: "Arial", sans-serif;
}

.maintitle {
    line-height: 1.5;
    color: rgb(0, 255, 106);
    font-size: 60px;
    justify-content: center;
    display: flex;
    font-family: "Arial", sans-serif;
}

.link-wrapper {
    text-align: center;
    line-height: 1.5;
}

a {
    color: rgb(0, 255, 106);
    font-size: 30px;
    line-height: 1;
}

a:hover {
    color: rgb(123, 255, 0);
    font-size: 30px;
}

body {
    background-image: url('img/background.jpg');
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}